* {
    margin: 0;
    padding: 0;
    /* helps with consistent calculations */
    box-sizing: border-box;
}

@font-face {
    font-family: 'Helvetica Now Display Extra Light';
    src: url('fonts/HelveticaNowDisplay-ExtLt.ttf') format('truetype');
}

/* @font-face {
    font-family: 'Helvetica Now Display Medium';
    src: url('fonts/HelveticaNowDisplay-Med.ttf') format('truetype');
} */

@font-face {
    @font-face {
        font-family: 'Helvetica Now Display Extra Light Italic';
        src: url('fonts/HelveticaNowDisplay-ExtLtIta.ttf') format('truetype');
    }
}

body {
    height: 100vh;
    background: lightgrey; /* this gradient has solid stops */
}

.app {
    font-family: 'Helvetica Now Display Extra Light';
    font-weight: 300;
    font-size: 16px;
    color: #4d4c4c;
    width: min(95vw, 31.25em); /* viewport width or 31.25, whichever is smaller */
    position: absolute;
    margin: auto;
    /* left and right ensure the app container is centered horizontally */
    left : 0;
    right: 0;
    top: 1.875em;
}


.container {
    background-color: #f1f8fb;
    border-radius: 0.625em;
    padding: 2em 2.5em;
    box-shadow: 0 0.125em 0.625em rgba(0, 0, 0, 0.2);
}

#todo__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 8fr 4fr;
    gap: 1em;
}

#todo__wrapper > input {
    width: 100%;
    background-color: transparent;
    color: #111111;
    font-size: 0.9em;
    border: none ;
    border-bottom: 2px solid #d1d3d4;
    padding: 0.5em 0.5em;
}


/* focus is used because it changes the styling when user focuses on input */


#tasks {
    margin-top: 5px;
    font-size: 1em;
    color: #4d4c4c;
}

li {
    list-style-type: none;
    margin-top: 10px;
}

#todo__wrapper input:focus {
    outline: none;
    border-color: #4cdb83;
}

#todo__wrapper > button {
    position: relative;
    border-radius: 0.625em;
    font-family: 'Helvetica Now Display Medium';
    font-size: 1em;
    color: #ffffff;
    background-color: rgb(155, 155, 155);
    border: none;
    outline: none;
    cursor: pointer;
}

#todo__wrapper > button:hover {
    background-color: #6a6b6a;
    transform: scale(1.1); /* 1.2 is the scale factor, adjust as needed */
}

/* Delete button styling */
.delete__btn {
    border: none;
    grid-area: 1 / 8 /1/ 8 ;
    justify-self: right;
    margin-left: 10px; /* adjust as needed */
    cursor: pointer;
}

.delete__btn > i {
    height: 1.5em;
    cursor: pointer;
    color: #6a6b6a;
}

.delete__btn:hover > i {
    color: #ff5c5c;
    transform: scale(1.2); /* 1.2 is the scale factor, adjust as needed */
}

/* here we are styling the error message */
#error {
    font-family: "Helvetica ";
    text-align: center;
    background-color: #ffffff;
    /* we are setting colour to red because it indicates danger or a mistake */
    color: #ff5c5c;
    margin-top: 1.5em;
    padding: 1em 0;
    /* below gives it a card like appearance */
    border-radius: 0.8em;
    display: none;
}

h1 {
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;
}

img {
    height: 40px;  
}


.write  {
    font-family: 'Helvetica now display extra light';
    font-style: italic;
}

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.cursor {
    display: inline-block;
    width: 3px;
    height: 1em;
    background-color: rgb(102, 176, 205);
    margin: 0 5px;
    vertical-align: middle;
    animation: blink 1s infinite; /* this will make the cursor blink */
    
}
